<div id='new_task_form'>
  <%= form_for ([@project, @project.tasks.build]) do |f| %>


  <table id="new_task_table">

    <tr><td><%= f.label :name, class: "control-label" %></td></tr>
    <tr><td><%= f.text_field :name, class: "form-control", autofocus: true %></td></tr>

    <tr><td><%= f.label :start_date, class: "control-label" %></td></tr>
    <tr><td><%= f.date_field :start_date, class: "form-control", autofocus: true %></td></tr>

    <tr><td><%= f.label :finish_date, class: "control-label"%></td></tr>
    <tr><td><%= f.date_field :finish_date, class: "form-control", autofocus: true %></td></tr>

    <tr><td><%= f.label :prerequisite, class: "control-label"%></td></tr>
    <tr><td><%= f.number_field :prerequisite, class: "form-control", autofocus: true %></td></tr>

    <tr><td><%= f.submit "Create Project", class: "btn btn-primary center-block"%></td><tr>

    </table>

    <% end %>

  </div>
